doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side JavaScript
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)=topic
        article
            form(action="/topic" method='post')
                div
                    input(type="text" name='title' placeholder='title')
                div
                    textarea(name="description")
                div
                    input(type="submit")